
# These are env vars required by custom-api.
# Make sure the glance-additions container has these available.

SYNCTHING_BASE_URL=http://172.17.0.1:8384 # https://stackoverflow.com/a/65527752
SYNCTHING_API_KEY=1234567890

PANGOLIN_BASE_URL=https://url-without-trailing-slash.example.com
PANGOLIN_API_KEY=abc1234
PANGOLIN_ORG_ID=my-org
